<!DOCTYPE html>
<html>
<head>
  <title>PhoneBuzz</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>
  <div class="container">
    <h2 class="instructions">Enter your phone number below</h2>
    <form class="phone-num-form">
      <input type="tel" name="num-to-call" placeholder="e.g. (123) 456-7890">
      <input type="submit" value="Submit">
    </form><!-- .phone-num-form -->

  </div><!-- .container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
