<!DOCTYPE html>
<html>
<head>
  <title>PhoneBuzz</title>

</head>
<body>
  <div class="container">
    <h2 class="instructions">Welcome to PhoneBuzz!</h2>
    <p>Call +13478365066 to play FizzBuzz on your phone.</p>

    <form>
        <p>Or, enter your mobile phone number:</p>
        <input id="to" type="text"
            placeholder="ex: +11234567890"/>
        <button>Submit</button>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="form.js"></script>
</body>
</html>
