<!DOCTYPE html>
<html>
<head>
    <title>PhoneBuzz</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <div class = "container">
        <h1>PhoneBuzz</h1>
        <p>Enter your phone number below to get started!</p>
        <form class="phone-number">
            <input type="tel" name="number" placeholder="eg: 555-555-5555">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
