<!DOCTYPE html>
<html>
<head>
    <title>PhoneBuzz</title>
</head>

<body>
    <div class = "container">
        <form class="phone-number">
            <input type="number" name="number">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
